APScheduler==3.6.3
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==8.0.4
cryptography==2.9.2
decorator==4.4.2
feedparser==5.2.1
fire==0.3.1
Flask==2.0.3
idna==2.10
imgurpython==1.1.7
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
Pillow==7.2.0
pycparser==2.20
python-dotenv==0.19.2
python-telegram-bot==12.8
pytz==2020.1
redis==3.5.3
requests==2.24.0
selenium==3.141.0
six==1.15.0
termcolor==1.1.0
tornado==6.0.4
tzlocal==2.1
urllib3==1.25.9
Werkzeug==2.0.3
